body {
    background-color: rgb(241, 250, 255);
    background-image: url(/public/images/home-bg.png);
}

.contentLayout {
    padding: 100px 30px; 
}

.maxWidth1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    display: block;
    font-size: var(--fs-34);
    font-weight: 900;
    margin-bottom: 30px;
}

.title::before {
    content: "<< ";
}

.item {
    .top{
        background-color: black;
        padding: 20px ;
        padding-top: 34px;
        color: white;
        * {
            display: block;
        }
        > strong {
            font-size: var(--fs-34);
        }
    }
    .bottom{
        border: 2px solid black;
        background-color: white;
        font-weight: 500;
        ul {
            li {
                padding-block: 14px;
                line-height: 20px;
                &:not(:last-of-type){
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}

