/* Home */

@media (width < 600px ) {

    .home {
        height: 100vh;
        * { user-select: none;}
        > img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50%;
            min-width: 240px;
            max-width: 500px;
            transform: translate(-50%,-50%); 
        }
    nav {
        max-width: 1600px;
        margin-inline: auto;
        ul {
               width: 100%;
               display: flex;
               flex-wrap: wrap;
               justify-content: space-around;
               li {
                   width: 50%;
                   height: 50vh;
                   font-size: 1px;
                   color: transparent;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   a {
                       img {
                           width: 150px;
                       }
                   }
               }
            }   
        }  
    }
}


/* Artist media width < 1200px  */
@media ( width < 1200px) {
    .artist {
        > div {
            justify-content: space-around;
            > img {
                max-width: 150px;
                position: fixed;
                right: 0;
                bottom: 0;
            }
        }
    }
}

/* Quiz media width < 1200px  */
@media (width < 600px ) {
    .quiz {
            .cover {
            > div { 
                > p {
                    font-size: 26px;
                    line-height: 50px;
                    text-align: center;
                    &:nth-of-type(2) {
                        font-size: var(--fs-26);
                    } 
                }
                > img {
                    /* max-width: 150px; */
                    min-width: 150px;
                    right: 15px;
                    bottom: 100px;
                }
                div {
                    > button {
                        width: 100%;
                        line-height: 70px;                   
                        font-size: 36px;
                    }
                    > button:hover {
                        transform: scale(110%);
                    }
                } 
            }
        }
        .quizBox {
            width: 100%;
            padding-inline: 10px;
            padding-bottom: 10px;
        }
        .btnBox {
            gap: 20px;
            > button {
                width: 80px;
                line-height: 35px;
            }
            .reset {
                width: 120px;
                font-size: var(--fs-18);
                line-height: 50px;
            }
            .finalBtn {
                width: 120px;
                line-height: 50px;
                font-size: var(--fs-18);
            }
        }
        .Q {
            font-size: var(--fs-18);
            margin-bottom: 20px;
            display: block;
            mark {
                font-size: var(--fs-36);
            }
        }
        .A { margin-bottom: 20px;
            > li {
                line-height: 50px;
                width: 100px;
                font-size: var(--fs-16);
            }
        }
        .result {
            padding: 15px 15px;
            &.finish {
                width: 100%;
            }
            >  div {
                > p:nth-of-type(1){
                    font-size: var(--fs-26);
                }
                > p:nth-of-type(n+2){
                    font-size: var(--fs-18);
                }
            }
        }
    }
}

@media ( width  < 500px) {
    .game {
        > a {
            margin-bottom: 100px;
        }
        > .container {
            width: 100%;
            height: 100%;
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            .cover {
                background-color: beige;
                border-radius: 8px;
                border: 1px solid black;
                width: 500px;
                height: 500px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding-inline: 15px;
                &.active {
                    display: none;
                }
                &::before{
                    content: url(/public/images/game/돋보기.png);
                    position: absolute;
                    left: -5px;
                    top: -5px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    width: 120px;
                    height: 120px;
                    background: url(/public/images/game/안경쓴감동이.png) no-repeat center / contain;
                }
                strong {
                    display: block;
                    text-align: center;
                    font-size: var(--fs-36);
                    margin-bottom: 20px;
                    > span {
                        > span {
                            background: url(/public/images/game/gamdong.png) no-repeat center / contain;
                            color: transparent;
                            background-color: rgb(131, 194, 245);
                            border-radius: 100%;
                        }
                    }
                }
                b {
                    font-size: var(--fs-22);
                    display: block;
                    margin-bottom: 20px;
                    color: rgb(64, 100, 167);
                }
                p { 
                    margin-bottom: 30px;
                    font-size: var(--fs-16);
                    color: rgb(76, 77, 77);
                    font-weight: 600;
                    span {
                        display: block;
                        text-align: left;
                        line-height: 30px;
                        text-indent: 10px;
                        position: relative;
                        &::before{
                            content: '';
                            width: 5px;
                            height: 5px;
                            background-color: black;
                            border-radius: 100%;
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 14px;
                            transform: translate(-50% , -50%);
                        }
                    }
                }
                button {
                    width: 100px;
                    height: 50px;
                    background-color: orange;
                    border-radius: 8px;
                    font-size: var(--fs-22);
                    &:hover {
                        transform: scale(110%);
                    }
                }
            }
            .main {
                position: relative;   
                display: none;
                width: 100%;
                &.active {
                    display: block;
                }
                &::after{
                    content: '';
                    color: rgb(252, 69, 37);
                    font-size: var(--fs-70);
                    font-weight: 600;
                    position: absolute;
                    left: 50%;
                    top: 20%;
                    transform: translate(-50%,-50%);
                    animation: countdown 5s ease-in-out forwards;
                }
                .board {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    background-color: rgb(253, 242, 179);
                    border-radius: 8px;
                    padding-block: 30px;
                }
                .item {
                    user-select: none;
                    cursor: pointer;
                    max-width: 180px;
                    width: 20%;
                    aspect-ratio: 1/1;
                    perspective: 1000px; /* 3D 효과를 위한 시점 설정 */
                    border: 1px solid black;
                    box-sizing: border-box;
                }              
                .card {
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    position: relative;
                    transform-style: preserve-3d;  /* 3D 변환 스타일을 유지 */
                    transition: transform 0.4s; /* 애니메이션 속도 */
                  }
                  .card .front,
                  .card .back {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;  /* 뒷면이 보이지 않도록 */
                  }
                  
                  .card .front {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    > img {
                        max-width: 150px;
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: contain;
                    }
                  }
                  
                  .card .back {
                    background: url(/public/images/game/물음표.png) no-repeat center / auto;
                    transform: rotateY(180deg);  /* 뒤집어진 상태로 초기화 */
                  }
                  
                  /* 카드 뒤집힌 상태 */
                  .card.flipped {
                    transform: rotateY(180deg);  /* 카드가 180도 돌아가며 뒤집힘 */
                  }
                  .card.active {
                    transform: rotateY(360deg);
                  }
    
                .timer  {
                    user-select: none;
                    height: 50px;
                    width: 100%;
                    position: absolute;
                    top: -30px;
                    
                    > div {
                        width: 50px;
                        height: 100%;
                        position: absolute;
                        animation: timer 60s forwards 5s;
                        background: url(/public/images/game/gamdong.png) no-repeat center / contain ;
                        &::after{
                            content: 'Timer!';
                            position: absolute;
                            left: 50%;
                            top: -10px;
                            font-weight: 600;
                            font-size: 22px;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            .result {
                position: absolute;
                inset: 0;
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: white;
                box-sizing: border-box;
                border: 50px solid orange ;
                border-radius: 8px;
                > strong {
                    font-size: var(--fs-50);
                    margin-bottom: 20px;
                }
                > p {
                    font-size: var(--fs-22);
                    margin-bottom: 20px;
                }
                > a {
                    display: inline-block;
                    font-size: var(--fs-20);
                    background-color: rgb(74, 195, 252);
                    line-height: 50px;
                    width: 100px;
                    border-radius: 8px;     
                    &:hover{
                        transform: scale(110%);
                        font-weight: 600;
                    }    
                }
                &.active{
                    display: flex;
                }
            }
        }
    }
    @keyframes timer {
        0% { left: 0%;}
        100% {left: 95%}
    }
}