html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,figure, form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
body {
  line-height: 1;
}
ol,ul {
  list-style: none;
}
blockquote,q{
  quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after{
  content: "";
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  background-color: transparent;
  border: 0;
  color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
input {
  border: 0;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Poppins","Pretendard-Regular", sans-serif;
}

:root {
    --fs-10: 10px;
    --fs-11: 11px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-26: 26px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-34: 34px;
    --fs-36: 36px;
    --fs-50: 50px;
    --fs-70: 70px;
}

@media ( width < 600px) {
    :root {
        --fs-10: 8px;
        --fs-11: 9px;
        --fs-12: 10px;
        --fs-13: 11px;
        --fs-14: 12px;
        --fs-15: 13px;
        --fs-16: 14px;
        --fs-18: 16px;
        --fs-20: 18px;
        --fs-22: 20px;
        --fs-24: 22px;
        --fs-26: 24px;
        --fs-28: 26px;
        --fs-30: 28px;
        --fs-34: 32px;
        --fs-36: 34px;
        --fs-50: 42px;
        --fs-70: 55px;
    }
}

@media ( width < 400px) {
    :root {
        --fs-10: 6px;
        --fs-11: 7px;
        --fs-12: 8px;
        --fs-13: 9px;
        --fs-14: 10px;
        --fs-15: 11px;
        --fs-16: 12px;
        --fs-18: 14px;
        --fs-20: 16px;
        --fs-22: 18px;
        --fs-24: 20px;
        --fs-26: 20px;
        --fs-28: 24px;
        --fs-30: 24px;
        --fs-34: 28px;
        --fs-36: 28px;
        --fs-50: 36px;
        --fs-70: 40px;
    }
}